<% provide(:title, "About") %>
<h1>About</h1>
<p>
<h2>TL;DR</h2>	
The Essential Reading Library stores what we are reading at the Geffen Academy. You can use this site to get ideas of what to read next and to see what you have read.

<h2>More Info</h2>
The following article gives a thorough explanation of our philosophy on reading for enjoyment and how it applies to improved education. <a href="https://geffenacademy.ucla.edu/elective-reading-qa/">Elective Reading Q&amp;A</a>
</p>