<% provide(:title, "Home") %>
<div class="w3-section w3-content w3-center" style="max-width: 500px;">
	<h2>
	  share a favorite...<br>discover a new favorite...
	</h2>
	<p>
	 This is the content with all of the copy and the book cards. 
	</p>
		<%= link_to "Log In", login_path, class: "w3-large ga-button ga-theme-yellow ga-theme-text-light-blue ga-theme-text-hover-white ga-theme-hover-light-blue", style: "text-decoration: none" %>
</div>