<%provide(:title,"Home")%>
<h1>Geffen Academy Essential Reading Library</h1>
<p>
	This is the home page for the Essential Reading Library at the <a href="http://geffenacademy.ucla.edu">Geffen Academy at UCLA </a>.  

	What is the Essential Reading Library? <a href="#"></a>
</p>